*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
data/
processed_data/
models_anime_map_knn_model.joblib
model_knn.sav
anime_map - run_locally_with_early_stopping
*.csv
**/__pycache__/
.env
